body {
    font-size: 14px;
    color: #0f0d83;
    background-color: antiquewhite;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
h2 {
    display: inline-block;
    font-size: 0.8rem;
}
h2::after {
    content: ":";

}

img {
    float: right;
}

.conteiner>p {
    display: inline-block;
}

xmp {
    overflow-x: visible;
    overflow-y: hidden;
    margin: 0 10%;
    height: 450px; 
    max-width: 90%;
    padding: 8px; 
    border: 1px solid #ccc;
}